* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1080px;
    height: 1080px;
    position: relative;
}

/* icon */
.main .icon {
    width: 1080px;
    height: 240px;
    top: 0;
    left: 0;
    z-index: 1;
}

.main .icon img {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 0;;
    right: 0;
    margin-right: 60px;
    z-index: 1;
}

/* img */
.main .img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.main .img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
}


/* .text */
.main .text {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.main .text-area .text {
    height: 18%;
    margin-top: 630px;
    text-align: center;
    margin-left: 2%;
    padding:2% 2%;
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
    opacity: 0.8;
}

.main .text-area .text h1 {
    font-size: 2rem;
}

.main .text-area .text p {
    font-size: 1.8rem;
}


.main .text-area .text .second {
    padding-top: 20px;
    font-size: 1.4rem;
}
